*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}


.tablebox{
    /* justify-content: center; */
    width: 35%;
   background-color: pink;
    margin: auto;
    /* height: 200px; */
    border-radius: 20px;
}

body{
    background-color: blue;
}
.boxme{
 display: flex;
 /* justify-content: center; */

    
}
input{
    color: blue;
}
#tablewalaform{
    border-radius: 20px;
    display: flex;
    margin-left: 50px;
    padding: 10px;
    width: 50%;
    height: 40px;
    margin-top: 30px;
}
button{
    height: 40px;
        padding: 16px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: white;
    color: black;
    border-radius: 12px;
}
.setme{

    background-color: green;
  margin-top: 30px;
  padding: 8px;
  padding-left: 7px;
  text-align: center;
  border-radius: 20px;
  
  
}

#headme{
    height: 340px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 width: 35%;
 padding: 50px;
 padding-left: 150px;
 
 justify-content: center;
    color: black;
    background-color: pink;
    margin: auto;

}